<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/hplus/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/hplus/css/plugins/chosen/chosen.css}"/>
    <link rel="stylesheet" th:href="@{/hplus/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/hplus/css/plugins/layer.css}"/>
    <link rel="stylesheet" th:href="@{/hplus/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/hplus/css/monitoringCenter.css}"/>
</head>
<body class="fixed-sidebar full-height-layout" style="overflow:hidden">
    <div>nihao</div>
</body>
<script th:src="@{/hplus/js/jquery.min.js}"></script>
<script th:src="@{/hplus/js/vue.js}"></script>
<script th:src="@{/hplus/js/plugins/chosen/chosen.jquery.js}"></script>
<script th:src="@{/hplus/js/plugins/layer/layer.min.js}"></script>
<script th:src="@{/hplus/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/hplus/js/plugins/validate/messages_zh.min.js}"></script>
<!--<script th:src="@{/hplus/js/Jpm-validator.js}" ></script>-->
</html>
